@model IEnumerable<Sistema.Models.Entradas>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Añadir", "Create")
    @using (Html.BeginForm("Index", "Productoes", FormMethod.Post))
    {
        @Html.Label("Ingrese su busqueda")
        <input placeholder="Entrega" name="entrega" type="text" class="form-control" />
        <input type="submit" name="form" value="Buscar" class="btn btn-default" />
        <button type="button" class="btn btn-default" onclick="javascript:window.print()">Imprimir</button>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayName("Producto")
        </th>
        <th>
            @Html.DisplayName("Proveedor")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_entrada }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_entrada }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_entrada }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
