@model IEnumerable<Sistema.Models.Producto>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Añadir", "Create")
    @using (Html.BeginForm("Index", "Productoes", FormMethod.Post))
    {
        @Html.Label("Nombre")
        <input placeholder="Producto a buscar" name="Nombre" type="text" class="form-control" />
        <input type="submit" name="form" value="Buscar" class="btn btn-default" />
        <button type="button" class="btn btn-default" onclick="javascript:window.print()">Imprimir</button>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayName("Proveedor")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_producto }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_producto }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_producto }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
