@model IEnumerable<Sistema.Models.Proveedor>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proveedores</h2>

<p>
    @Html.ActionLink("Añadir", "Create")
    @using (Html.BeginForm("Index", "Proveedors", FormMethod.Post))
    {
        @Html.Label("Nombre o Email")
        <input placeholder="Proveedor a buscar" name="data" type="text" class="form-control" />
        <input type="submit" name="form" value="Buscar" class="btn btn-default" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_proveedor }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_proveedor }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id_proveedor }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
